*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: rgb(99, 4, 103);
    padding: 10px;
}
.item{
    background-color: #f1f1f1;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}